{%- if page.hide_info != true -%}
  <div class="post-info">

    {%- if page.author or page.date -%}
      {%- if page.hide_author != true
          or page.hide_date != true -%}
        <div class="post-author-date">

          {%- if page.author
              and page.hide_author != true -%}
            <div class="post-authors">
              {%- for author in page.author -%}
                <span class="post-author">{{ author }}</span>
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- if page.date
              and page.hide_date != true -%}
            <div class="post-time">
              Published
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%-d %B %Y" }}
              </time>
            </div>
          {%- endif -%}

          </div>
      {%- endif -%}
    {%- endif -%}

  </div>
{%- endif -%}