{%- if page.layout == "post" -%}
  {%- assign title = page.title | slugify -%}
  {%- assign post_header = "post-header" -%}
  {%- assign post_title = "post-title" -%}
{%- else -%}
  {%- assign title = "" -%}
  {%- assign post_header = "" -%}
  {%- assign post_title = "" -%}
{%- endif -%}

<div class="header-wrapper">
  <header class="page-header {{ post_header }}">
    {%- if page.header_image -%}
      <img class="header-image" src="{{ page.header_image }}" alt="{{ page.title }}">
    {%- endif -%}

    {%- if page.hide_title != true -%}
      <div class="page-title {{ post_title }} {{ title }}">
        <h1>{{ page.title }}</h1>
      </div>
    {%- endif -%}
    
    {%- if page.layout == "post" -%}
      {%- include header_post.html -%}
    {%- endif -%}
  </header>
</div>