{%- if site.hide_info != true and page.hide_info != true and site.hide_date_modified != true -%}
  {%- assign show_info = true -%}
{%- else -%}
  {%- assign show_info = false -%}
{%- endif -%}
{%- if site.hide_author != true and page.hide_author != true and page.author -%}
  {%- assign show_author = true -%}
{%- else -%}
  {%- assign show_author = false -%}
{%- endif -%}
{%- if site.hide_date != true and page.hide_date != true and page.date -%}
  {%- assign show_date = true -%}
{%- else -%}
  {%- assign show_date = false -%}
{%- endif -%}
{%- if site.hide_date_modified != true and page.hide_date_modified != true and page.date_modified -%}
  {%- assign show_date_modified = true -%}
{%- else -%}
  {%- assign show_date_modified = false -%}
{%- endif -%}

{%- if show_info -%}
  <div class="post-info">

    {%- if show_author or show_date or show_date_modified -%}
      <div class="post-author-date">

        {%- if show_author -%}
          <div class="post-authors">
            {%- for author in page.author -%}
              <span class="post-author">{{ author }}</span>
            {%- endfor -%}
          </div>
        {%- endif -%}

        {%- if show_date -%}
          <div class="post-date">
            Published
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%-d %B %Y" }}
            </time>
          </div>
        {%- endif -%}

        {%- if show_date_modified -%}
          <div class="post-time">
            Last modified
            <time datetime="{{ page.date_modified | date_to_xmlschema }}">
              {{ page.date_modified | date: "%-d %B %Y" }}
            </time>
          </div>
        {%- endif -%}

      </div>
    {%- endif -%}

  </div>
{%- endif -%}