$sans: "Noto Sans", "Noto Sans SC", sans-serif;
$serif: "Noto Serif", "Noto Serif SC", serif;
$monospace: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;

$theme: #008b8b; // Theme colour
$alpha: #333333; // For headings & other important text
$beta: #666666; // For normal text
$gamma: #999999; // For unimportant text
$delta: #cccccc; // For text frames, etc.
$epsilon: #e6e6e6; // For backgrounds, etc.

$indentation-unit: 2rem;
$font-normal: 1rem;
$font-small: 0.8*$font-normal;

$border-radius: 4px;
$min-width: 360px;
$min-height-mobile: 75vh;

$above: "screen and (min-width: 768px)";
$tablet-and-above: "screen and (min-width: 425px)";
$tablet: "screen and (min-width: 425px) and (max-width: 768px)";
$tablet-and-below: "screen and (max-width: 768px)";
$mobile: "screen and (max-width: 425px)";