// wrapper width
$min-width: 320px;
$max-width: 960px;
$narrow-max-width: 0.6*$max-width;

// viewport height
$viewport-height-split-alpha: 85vh;
$viewport-height-split-beta: 15vh;
$min-height-tablet: 90vh;
$min-height-mobile: 85vh;
$tablet-viewport-height-split-alpha: $min-height-tablet - $viewport-height-split-beta;
$mobile-viewport-height-split-alpha: $min-height-mobile - $viewport-height-split-beta;

// media types
$above: "screen and (min-width: 1280px)";
$tablet-and-above: "screen and (min-width: 425px)";
$tablet: "screen and (min-width: 425px) and (max-width: 1280px)";
$tablet-and-below: "screen and (max-width: 1280px)";
$tablet-smaller-and-below: "screen and (max-width: 512px)";
$mobile: "screen and (max-width: 425px)";
$mobile-smaller: "screen and (max-width: 384px)";
$mobile-smallest: "screen and (max-width: 340px)";
// see also mobile_navigation.js

// colours
$theme: #008b8b; // Theme colour
$alpha: #333333; // For headings & other important text
$beta: #666666; // For normal text
$gamma: #999999; // For unimportant text
$delta: #cccccc; // For text frames, etc.
$epsilon: #e6e6e6; // For backgrounds, etc.

// font families
$sans: "Noto Sans", "Noto Sans SC", sans-serif;
$serif: "Noto Serif", "Noto Serif SC", serif;
$monospace: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;

// font size
$font-normal: 1rem;
$font-small: 0.9*$font-normal;
$font-smaller: 0.8*$font-normal;
$font-large: 1.2*$font-normal;
$font-larger: 1.5*$font-normal;

// units
$indentation-unit: 2rem;
$border-radius: 4px;

// animation
$default-transition: all 0.5s ease-in-out;
@mixin image-frame-animation {
    transition: $default-transition;

    &:hover {
        box-shadow: 0 0px 16px 0 #00000040;
    }
}