// home
div.wrapper.home img.header-image {
    width: 10rem !important;
    border-radius: 100%;
    @include image-frame-animation;
}

// about
div.wrapper.about .author {
    padding-top: 1em;
}

// 404
div.wrapper.page-not-found img.header-image {
    width: 10rem !important;
    border-radius: 100%;
    @include image-frame-animation;
}
