article.post {
    > div.post-content {
        a {
            text-decoration: underline;
        }
        a.footnote {
            text-decoration: none;
        }

        div.footnotes {
            margin-top: 3em;

            a.reversefootnote {
                text-decoration: none;
                user-select: none;
            }

            p {
                margin: 0.5em auto;
            }
        }
    }

    header.post-header div.post-author-date {
        margin: 1em auto;
        color: $gamma;
        line-height: 2em;

        > div.post-authors > div.post-author {
            display: inline-block;

            > span.twitter-link-container {

                &::before {
                    content: " ";
                }

                > a.twitter-link {
                    > img.twitter-icon {
                        display: inline-block;
                        width: 2em;
                        user-select: none;
                        vertical-align: middle;
                    }
        
                    @media print {
                        display: none;
                    }
                }
            }
        }
    }
}

main.page-content {
    
    div.post-tags-wrapper {
        text-align: center;
        margin: 3rem auto 0;
        padding: 1rem;
        width: max-content;
        max-width: 90%;
        min-width: 36%;
        border-top: 1px solid $epsilon;
        border-bottom: 1px solid $epsilon;
        line-height: 2em;
    }

    header.post-header div.post-author:not(:last-child)::after,
    div.post-tags-wrapper > span.post-tag-container:not(:last-child)::after {
        content: "|";
        padding: 0 1ch;
    }
}
