body > main.page-content {
    font-size: 1rem;
    padding: 0 5%;
    padding-top: 5rem;
    margin: auto;
    flex: 1 0 auto;
    flex-direction: column;
}

// centre_content
body.centre {
    margin: 0 auto;
}
body.centre > main.page-content.centre {
    padding-top: 0;
    height: 84vh;
    display: table;
}
body.centre > main.page-content.centre > div.wrapper.centre {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
