/* layout: default */

main.page-content header.page-header {
    text-align: left;
    margin: 3em auto;
}

main.page-content.centre header.page-header {
    text-align: center !important;
    margin: auto !important;
}

main.page-content header.page-header div.page-title {
    // Placeholder
}

main.page-content header.page-header img.header-image {
    width: 80%;
}


/* layout: post */


main.page-content header.post-header p.post-author-date {
    margin: 1em auto;
    color: $gamma;
}
