nav.navigation {
    user-select: none;
    margin: 1rem;

    > ul.navigation-list {
        padding: 0;
        list-style: none;

        > li.navigation-list-item {
            padding: 0;
            vertical-align: middle;

            > a.navigation-link-home {
                display: block;
                margin: 0 1rem;
                border-radius: 100%;

                > img.navigation-link-home-logo {
                    width: 3rem;
                    border-radius: 100%;
                    transition: $default-transition;

                    &:hover {
                        box-shadow: 0 0px 4px 0 #0000002e, 0 0px 12px 0 #00000026;
                    }
                }
            }
        }
    }

    &.navigation-home {
        font-size: $font-normal;

        > ul.navigation-list {

            > li.navigation-list-item {
                margin: 1em auto;
                vertical-align: initial;

                &:not(.navigation-list-item-home) {
                    display: block;
                    line-height: 2em;
                }

                > a.navigation-link {
                    margin: 1em auto;
                    padding: 0;
                    font-size: $font-normal;
                }
            }

            > li.navigation-list-item-home {
                display: none;
            }
        }
    }

    &:not(.navigation-home) {
        position: absolute;
        left: 0;
        top: 0;
        font-size: $font-small;
        width: max-content;

        > ul.navigation-list
            > li.navigation-list-item {
            display: inline-block;

            > a.navigation-link:not(.navigation-link-home),
            > span.navigation-current-page {
                padding: 1rem;
                font-size: $font-small;
            }
            
            > span.navigation-current-page {
                font-weight: bold;
            }
        }

        @media print {
            display: none;
        }
    }
}