---
layout: compress
---
{%- assign title = page.title | split: " " | join: "-" | downcase -%}
{%- if page.centre_content == true -%}
  {%- assign centre = "centre" -%}
{%- else -%}
  {%- assign centre = "" -%}
{%- endif -%}
{%- if page.narrow_content == true -%}
  {%- assign narrow = "narrow" -%}
{%- else -%}
  {%- assign narrow = "" -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body {% if page.centre_content == true %} class="centre"{% endif %}>

    {%- include navigation.html -%}

    <main class="page-content {{ centre }} {{ narrow }}" aria-label="Content">
      <div class="wrapper {{ centre }} {{ title }}">
        {%- if page.layout != "post" -%}
          {%- include header.html -%}
        {%- endif -%}

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>