body {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    width: 90%;
    max-width: 960px;
    min-width: $min-width;
    min-height: 100vh;
    font-family: $sans;
    font-size: $font-normal;
    overflow-wrap: break-word;
    color: $beta;
    transition: $default-transition;
}
@media #{$tablet-and-below} {
    body {
        min-height: $min-height-tablet-and-below;
    }
}
@media print {
    body {
        display: initial;
    }
}

@media print {
    .noprint,
    .noprint * {
        display: none;
    }
}

// narrow_content
body.narrow {
    max-width: 512px;
}