h1, h2, h3, h4, h5, h6 {
    color: $alpha;
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}

p {
    color: $beta;
    line-height: 2em;
}

strong {
    font-weight: bold;
    color: $alpha;
}

a {
    color: $theme;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover {
    color: $beta;
}
a.back::before {
    content: "<\00a0";
}
a.forward::after {
    content: "\00a0>";
}

code {
    font-family: $monospace;
}

pre {
    display: block;
    font-family: $monospace;
    margin: 1em 0;
}

ul, ol {
    line-height: 1.5em;
    padding-left: $indentation-unit;
}
ul > li,
ol > li {
    padding: 0.3em 0;
}