h1, h2, h3, h4, h5, h6 {
    color: $alpha;
    font-weight: bold;
    margin: 1em auto;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}

p {
    color: $beta;
    line-height: 2em;
    display: block;
    margin: 1em auto;
}

a {
    color: $theme;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover {
    color: $beta;
}
a.back::before {
    content: "<\00a0";
}
a.forward::after {
    content: "\00a0>";
}

strong {
    font-weight: bold;
    color: $alpha;
}
em,
i {
    font-style: italic;
}

ul, ol {
    line-height: 1.5em;
    padding-left: $indentation-unit;
}
ul > li,
ol > li {
    padding: 0.3em 0;
}

blockquote,
pre {
    display: block;
    margin: 1em auto;
    padding: 0 2em;
}
pre,
code {
    font-family: $monospace;
}
pre {
    overflow-x: auto;
}

table {
    margin: 1em auto;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid $gamma;
    text-align: left;
}
table thead {
    vertical-align: middle;
}
table th,
table td {
    padding: 1em 1.5em;
}
table th {
    color: $alpha;
    background-color: $epsilon;
    border: 1px solid $gamma;
}
table td {
    border: 1px solid $delta;
}
